*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-image: linear-gradient(#0E1DA6, #390066);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabeçalho-logo{
    width: 7%;
}

.cabeçalho-lista-item{
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    margin: 0px 16px;
    padding: 48px 0;
    font-size: 32px ;
}

.escola{
color: white;
display: flex;
justify-content: center;
align-items: center;
padding: 240px 0;
}

.Formula-amico{
    width: 20%;
}
.div-escola-conteudo{
    font-family: 'Dancing Script', cursive;
width: 35%;
font-size: 24px;
}

.sobre-a-escola{
    padding: 0 0 48px;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
}
body{
    background-image: linear-gradient(#0E1DA6, #390066);
}

.estudante-titulo{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px 0;
}
.foto-do-estudante{
    width: 30%;
    padding: 16px;
}

.nome-do-estudante{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    padding-top: 8px;
}
.rodape{
    background-image: linear-gradient(#000000, #28003a);
    display: flex;
    color: white;
    font-family: 'Dancing Script', cursive;
    padding-top: 32px;
}
.alura{
    width: 30%;
}

.rede-social{
    width: 10%;
}
.info-estudante{
    text-align: center;
}
.info-estudante-tudo{
    display: grid;
    grid-template-columns:20% 20% 20% 20% 20% ;
    padding: 0 0 16px;
    
}
.direitos-autorais-itens{
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}